\:root
	--nav-size:          #{rem($nav-size)}
	--sidebar-size:      #{rem($sidebar-size)}
	--sidebar-cart-size: #{rem($sidebar-cart-size)}
	--icon-margin:       #{rem($icon-margin)}
	--icon-margin-md:    #{rem($icon-margin + 4)}
	--icon-margin-lg:    #{rem($icon-margin + 8)}
	--body-line-height:  1.7
	--color-old-price:   #f98080
	--icon-check-black:  url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23000000' stroke-width='1.9' d='m6 10 3 3 6-6'/%3e%3c/svg%3e")
	--icon-check-white:  url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23FFFFFF' stroke-width='1.9' d='m6 10 3 3 6-6'/%3e%3c/svg%3e")

html,
body.sticky-footer
	height: 100%

body
	font-weight: 500
	&.sticky-footer
		display: flex
		flex-direction: column
	&.bg-white
		background-color: var(--bs-white)

.nav-padding
	padding-top: var(--nav-size)

a
	position: relative
	display: inline-block
	transition: .25s

a,
select,
label,
.cur-p
	cursor: pointer

svg
	--sz: #{rem(24px)}
	--w: var(--sz)
	--h: var(--sz)
	position: relative
	width: var(--w)
	height: var(--h)

.img
	width: 100%

textarea.autogrow
	min-height: rem(65px)
	max-height: rem(370px)


