$bem: '.card-product'
.card.card-product
	--padding-card-body: #{rem(16px)}
	border: none
	border-radius: var(--bs-border-radius)
	.card-img-hold
		position: relative
	.card-img
		width: 100%
		border-radius: var(--bs-border-radius)
		max-width: rem(320px)
	.card-img-hold
	.card-img-badge-holder
		--badge-side-spacing: #{rem(10px)}
		position: absolute
		display: flex
		flex-wrap: wrap
		top: var(--badge-side-spacing)
		left: var(--badge-side-spacing)
		margin: rem(-2px)
		max-width: 100%
		font-size: rem(14px)
		.badge
			margin: rem(2px)
			cursor: default
		&-left
		&-right
			left: inherit
			right: var(--badge-side-spacing)
	.card-body
		padding: var(--padding-card-body) 0 0
	.card-title-holder
		display: flex
		justify-content: space-between
		top: 50%
		left: 0
		width: 100%
		margin-bottom: rem(10px)
	.card-title
		color: var(--bs-gray-800)
		font-size: rem(16px)
		font-weight: 500
		margin: 0
	.card-text
		color: var(--bs-gray-600)
		font-size: rem(12px)
		font-weight: 500
		margin: 0
	.card-img-btn-holder
		position: absolute
		right: rem(12px)
		bottom: rem(12px)
	&--dark
		background-color: #{tint-color($gray-900, 2%)}
		color: var(--bs-white)
		.card-body
			padding: var(--padding-card-body)
		.card-title
			color: var(--bs-white)
		.card-text
			color: var(--bs-gray-500)