$fwList: 300 400 500 600 700 800 900
@each $fontWeight in $fwList
	.fw-#{$fontWeight}
		font-weight: $fontWeight

.d-flex-center
	display: flex
	justify-content: center
	align-items: center

.abs-center
	position: absolute
	top: 50%
	left: 50%
	transform: translate(-50%, -50%)

.transition
	--time: 0.25s
	--type: ease
	--delay: 0s
	--prop: all
	transition: var(--time) var(--type) var(--delay) var(--prop)

// .text-muted
// 	color: var(--bs-gray)

// Text limit 2 or 3 lines
.trim-text
	&,
	&-3
		-webkit-line-clamp: 2
		-moz-line-clamp: 2
		line-clamp: 2
		overflow: hidden
	&-3
		-webkit-line-clamp: 3
		-moz-line-clamp: 3
		line-clamp: 3



// Headers & text of different sizes specifically for our site
.fs
	&-title
		&-1 // Maximum size
			font-size: rem(80px)
	&-text
		&-1 // Maximum size
			font-size: rem(20px)
	&-14
		font-size: rem(14px)

// Single page details
.page-title
	margin: 0
	font-weight: 700

.page-content
	margin-top: rem(50px)
	&--single-page
		background-color: #f5f9fa
		padding: 28px
		border-radius: 4px
	&-hold
		margin-top: rem(50px)
		.container
			&--single-page
				max-width: 960px



// Base box holder
.box-hold
	--mb: #{rem(40px)}
	margin-bottom: var(--m)


// All boxes have one title
.box-title
	--fs: #{rem(14px)}
	--fw: 600
	--tt: uppercase
	--ls: #{rem(1px)}
	--m : 0 0 #{rem(16px)}
	color: var(--bs-gray)
	font-size: var(--fs)
	font-weight: var(--fw)
	text-transform: var(--tt)
	letter-spacing: var(--ls)
	margin: var(--m)




// Logo versions
$bem: '.logo-img'
.logo-img
	--max-w: #{$logo-size}
	width: 100%
	max-width: $logo-size
	opacity: 1
	transition: .25s
	&-hold
		display: inline-block
		position: relative
		#{$bem}
			&--black
			&--white
				position: absolute
				top: 0
				left: 0
				opacity: 0
	&--sm
		max-width: #{$logo-size-sm}


// Price versions width old price
.price
	font-size: rem(18px)
	font-weight: 500
	line-height: 1.3
	& &-currency
		font-size: 75%
		padding-left: rem(2px)
	& &-old
		margin-left: rem(10px)
		position: relative
		font-size: 75%
		display: inline-block
		text-align: right
		color: var(--bs-gray-500)
		&::before
			content: ''
			position: absolute
			border-bottom: rem(1px) solid
			top: 52%
			left: 0
			width: 100%
			opacity: .75



// Nice link hover with border
.link-hover
	position: relative
	&::before
		content: ''
		position: absolute
		bottom: 0
		right: 0
		width: 0
		height: 0
		border-bottom: rem(1px) solid
		transition: width .25s
	&.active,
	&:hover
		&::before
			left: 0
			width: 100%



// Toggle work status
$bem: '.work-status'
.work-status
	font-size: rem(14px)
	color: var(--bs-gray-600)
	& #{$bem}--online
		color: green