$bem: '.btn'
.btn
	--bs-btn-font-weight: 600
	--bs-btn-line-height: 1
	--bs-btn-padding-y: #{rem(18px)}
	--bs-btn-padding-x: #{rem(38px)}
	--bs-btn-border-width: #{rem(2px)}
	--bs-btn-hover-bg: #{tint-color($blue, 35%)}
	--bs-btn-hover-border-color: #{tint-color($blue, 35%)}
	position: relative
	display: inline-flex
	justify-content: center
	align-items: center
	svg.icon
		top: 0.0625rem
		&:first-child
			margin-right: var(--icon-margin)
		&:last-child
			margin-left: var(--icon-margin)
	&.btn-line-text
		--bs-btn-border-width: 0
		--bs-btn-border-radius: 0
		--bs-btn-padding-x: 0
		--bs-btn-padding-y: 0
		--bs-btn-line-height: 1
		--bs-btn-font-weight: 600
		--bs-btn-font-size: #{rem(8px)}
		--bs-btn-color: var(--bs-white)
		--bs-btn-hover-color: var(--bs-white)
		--bs-btn-bg: var(--bs-gray-900)
		--bs-btn-hover-bg: var(--bs-gray-800)
		--bs-btn-active-bg: var(--bs-black)
		--bs-btn-active-color: var(--bs-white)
		text-transform: uppercase
		width: rem(80px)
		height: rem(80px)
		display: flex
		justify-content: center
		align-items: center
		&:hover
			#{$bem}-line-text__span
				&::before
					width: rem(19px)
				&::after
					width: rem(28px)
		#{$bem}-line-text__span
			position: relative
			display: flex
			align-items: flex-end
			letter-spacing: rem(2px)
			height: rem(24px)
			min-width: rem(23px)
			&::before,
			&::after
				content: ''
				position: absolute
				left: 0
				top: 0
				width: rem(28px)
				height: rem(2px)
				background-color: var(--bs-white)
				transition: .35s
			&::before
			&::after
				width: rem(19px)
				top: rem(8px)
	&.btn-cart
		--bs-btn-padding-x: #{rem(11px)}
		--bs-btn-padding-y: #{rem(11px)}
		.icon
			&.icon-cart
				left: -0.0625rem
		&.btn-sm
			--bs-btn-padding-x: #{rem(5px)}
			--bs-btn-padding-y: #{rem(5px)}
		&.btn-lg
			--bs-btn-padding-x: #{rem(15px)}
			--bs-btn-padding-y: #{rem(15px)}
	&.btn-secondary
		--bs-btn-hover-color: #{rgba($black, .9)}
		--bs-btn-hover-bg: #{$gray-400}
		--bs-btn-hover-border-color: #{$gray-400}
	&.btn-success
		--bs-btn-color: #{rgba($black, .9)}
	&.btn-danger
		--bs-btn-bg: var(--bs-red)
		--bs-btn-color: var(--bs-black)
		--bs-btn-hover-color: var(--bs-black)
		--bs-btn-hover-bg: #{shade-color($red, 5%)}
		--bs-btn-hover-border-color: #{shade-color($red, 5%)}
	&.btn-warning
		--bs-btn-color: #{rgba($black, .88)}
		--bs-btn-hover-bg: #{shade-color($yellow, 4%)}
		--bs-btn-hover-border-color: #{shade-color($yellow, 4%)}
	&.btn-info
		--bs-btn-color: var(--bs-black)
		--bs-btn-hover-color: var(--bs-black)
		--bs-btn-hover-bg: #{tint-color($cyan, 30%)}
		--bs-btn-hover-border-color: #{tint-color($cyan, 30%)}
	&.btn-light
		--bs-btn-hover-color: var(--bs-black)
		--bs-btn-hover-bg: #{$gray-200}
		--bs-btn-hover-border-color: #{$gray-200}
	&.btn-dark
		--bs-btn-color: #{rgba($white, .92)}
		--bs-btn-hover-color: #{rgba($white, .9)}
		--bs-btn-hover-bg: #{$gray-700}
		--bs-btn-hover-border-color: #{$gray-700}
	&.btn-shadow
		--bs-btn-bg: var(--bs-white)
		--bs-btn-color: var(--bs-link-color)
		--bs-btn-hover-bg: var(--bs-white)
		--bs-btn-hover-color: var(--bs-link-hover-color)
		--bs-btn-hover-border-color: transparent
		box-shadow: 0 #{rem(1px)} #{rem(4px)} 0 rgba(25, 37, 37, 0.15)
		&:hover
			box-shadow: 0 #{rem(2px)} #{rem(10px)} 0 rgba(25, 37, 37, 0.15)
	
	&.btn-outline-primary
		// --bs-btn-color: var(--bs-link-color)
		--bs-btn-color: var(--bs-black)
		--bs-btn-border-color: #{shade-color($blue, 10%)}
		--bs-btn-hover-color: var(--bs-link-hover-color)
		--bs-btn-hover-border-color: var(--bs-primary)
	&.btn-outline-secondary
		--bs-btn-color: var(--bs-black)
		--bs-btn-hover-color: var(--bs-link-hover-color)
		--bs-btn-border-color: #{shade-color($gray-400, 2%)}
	&.btn-outline-success
		--bs-btn-color: var(--bs-black)
		--bs-btn-hover-color: var(--bs-link-hover-color)
		--bs-btn-border-color: #{shade-color($green, 5%)}
	&.btn-outline-danger
		--bs-btn-color: var(--bs-black)
		--bs-btn-hover-color: var(--bs-link-hover-color)
		--bs-btn-border-color: #{tint-color($red, 15%)}
	&.btn-outline-warning
		--bs-btn-hover-color: var(--bs-link-hover-color)
		--bs-btn-color: var(--bs-black)
		--bs-btn-border-color: #{shade-color($yellow, 1%)}
	&.btn-outline-info
		--bs-btn-hover-color: var(--bs-link-hover-color)
		--bs-btn-color:  var(--bs-black)
		--bs-btn-border-color: #{tint-color($cyan, 10%)}
	&.btn-outline-light
		--bs-btn-color: var(--bs-gray-dark)
		--bs-btn-border-color: var(--bs-gray-300)
		--bs-btn-hover-color: var(--bs-link-hover-color)
	&.btn-outline-dark
		--bs-btn-border-color: #{shade-color($gray-600, 15%)}
		--bs-btn-hover-color: var(--bs-link-hover-color)

	&.btn-gray-100
		--bs-btn-color: var(--bs-gray-100) !important
	&.btn-gray-200
		--bs-btn-color: var(--bs-gray-200) !important
	&.btn-gray-300
		--bs-btn-color: var(--bs-gray-300) !important
	&.btn-gray-400
		--bs-btn-color: var(--bs-gray-400) !important
	&.btn-gray-500
		--bs-btn-color: var(--bs-gray-500) !important
	&.btn-gray-600
		--bs-btn-color: var(--bs-gray-600) !important
	&.btn-gray-700
		--bs-btn-color: var(--bs-gray-700) !important
	&.btn-gray-800
		--bs-btn-color: var(--bs-gray-800) !important
	&.btn-gray-900
		--bs-btn-color: var(--bs-gray-900) !important

	&.btn-sm
		--bs-btn-padding-y: #{rem(11px)}
		--bs-btn-padding-x: #{rem(22px)}
	&.btn-lg
		--bs-btn-padding-y: #{rem(20px)}
		--bs-btn-padding-x: #{rem(35px)}
		--bs-btn-font-size: #{rem(18px)}
