<div class="card card-product hover-scale-hold@@if (context.cssClass) { @@cssClass}" style="width: 320px;">
	<div class="card-img-hold">
		<a href="#" class="card-img-link">
			<img src="img/static/product-1.jpg" class="card-img hover-scale" alt="">
		</a>
		@@if (context.badgeTop) {
			<div class="card-img-badge-holder card-img-badge-holder-left">
				<span class="badge bg-info">@@badgeTop</span>
			</div>
		}
		@@if (context.cartAdded) {
			<div class="card-img-badge-holder card-img-badge-holder-right">
				<span class="badge bg-secondary text-light badge-product-added d-flex-center-y" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Added to cart">
					<svg class="icon icon-18 icon-cart-bag icon-margin"><use xlink:href="#icon-cart-bag"></use></svg><span class="num-added-cart ff-num">@@cartAdded</span>
				</span>
			</div>
		}
		<div class="card-img-btn-holder">
			@@if (context.cartAdded) {
				<a href="#" class="btn btn-primary btn-cart btn-sm">
					+
				</a>
			}
			@@if (!context.cartAdded) {
				<a href="#" class="btn btn-primary btn-cart btn-sm">
					<svg class="icon icon-16 icon-cart"><use xlink:href="#icon-cart"></use></svg>
				</a>
			}
		</div>
	</div>
	<div class="card-body">
		<div class="card-title-holder">
			<a href="#" class="card-title trim-text">Кілограм <span class="fs-14 text-mutted">(40 шт)</span></a>
			<span class="price ff-num">
				<span class="price-old price-old--red">
					<span class="price-old-num">12</span><span class="price-currency">@@currency</span>
				</span> 
				<span class="price-num">24</span><span class="price-currency">@@currency</span>
			</span> 
		</div>
		<p class="card-text trim-text-3">Авокадо, норі, петрушка, креветки, вершковий сир, рис для суші, соус реліша з огірком, сир моцарелла</p>
	</div>
</div>